.TreatmentsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.TreatmentsSection h1 {
    font-size: 42px;
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px 44px;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(146, 255, 173, 0.5) 2.92%, rgba(255, 255, 255, 0.5) 100%);
    flex: 1;
    position:

        relative;
}

.card h1 {
    font-size: xx-large;
    font-weight: 600;
}

.card p {
    text-decoration: underline;
    text-underline-offset: 8px;
    font-weight: 500;
    margin-left: 30px;
    position: absolute;
    bottom: 0px;
}

.card p:hover {
    color: var(--color-primary);
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
}


.cardItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    width: 100%;
    max-height: 40px;
    background: #ffffffe1;
    padding: 32px 32px;
    font-size: large;
    font-weight: 300;
}


@media (max-width: 1440px) {
    .card {
        padding: 16px 16px;

    }

    .card h1 {
        font-size: large;
        font-weight: 600;
    }

    .card p {
        text-decoration: underline;
        text-underline-offset: 8px;
        font-weight: 500;
        bottom: 0px;

    }

    .cardItem {
        padding: 8px 16px;
        font-size: small;
        font-weight: 300;
    }

    .TreatmentsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

}

@media (max-width: 768px) {

    .TreatmentsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

}