.button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    font-family: var(--font-quicksand);
    color: #fff;
    border-radius: 8px;
    max-width: 300px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;

}

.buttonVar2 {
    padding: 8px 16px;
}

.squareButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    aspect-ratio: 1/1 !important;
    gap: 10px;
    border-radius: 8px;
    width: 44px !important;
    height: 44px !important;
}

.arrowButton {
    display: flex;
    aspect-ratio: 1/1;
    padding: 14px 18px;
    border: 1px solid var(--color-border);
    height: 44px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.arrowButton:hover {
    background: var(--color-button-hover);
    transition: all;
    transition-duration: 300ms;
}

@media (max-width: 1440px) {
    .squareButton {
        border-radius: 10px;
    }

    .button {
        padding: 8px 16px;
        border-radius: 4px;
    }

    .arrowButton {
        height: 30px;
    }
}


@media (max-width: 768px) {
    .squareButton {
        border-radius: 10px;
    }

    .button {
        padding: 4px 8px;
        border-radius: 4px;
        font-size: var(--font-size-16);
    }

    .arrowButton {
        height: 30px;
    }
}