.button {

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    cursor: pointer;
    max-height: 44px;
    font-size: 16px !important;
    border: 1px solid #37B43D;
    border-radius: 8px;
    flex: none;
    font-family: var(--font-quicksand);
    font-weight: 600;


    flex-grow: 0;

}

.pharmacyCard {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: fixed;
    z-index: 5;
    background: linear-gradient(180deg, #C3FFD2 0%, #FFFFFF 100%) !important;
    border-radius: 16px;
    right: 1%;
    top: 11%;
    flex: none;
    order: 2;
    flex-grow: 0;

}

.pharmacyCardCont {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 28px;
    gap: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;

}

.pharmacyCardVar2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: white;
    border-radius: 16px;
    right: 1%;
    top: 11%;
    flex: none;
    flex-grow: 0;

}

.pharmacyCardVar2Cont2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 20px 20px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}



.pharmacyCardContVar2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 34px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;

}

.pharmacyCardCont2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 14px;
    gap: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}


.hr {
    border: none
}

@media (max-width: 768px) {


    .pharmacyCardVar2Cont2 {

        padding: 0px 10px 10px 10px;
    }



    .pharmacyCardContVar2 {
        padding: 15px 17px;
    }



}