@import "tailwindcss";

:root {
  /*Brand*/

  --color-primary: #37b43D;
  --color-primary-dark: #2d6d1f;
  --color-primary-light: #92ffad;
  --color-primary-soft: #c3ffd2;

  /*Text*/

  --color-text: #00180c;
  --color-text-secondary: #444444;
  --color-text-muted: #666666;
  --color-text-ph: #415A5B;

  /*Backgrounds */

  --color-background: #ffffff;
  --color-surface: #f9f9f9;
  --color-surface-muted: #f5f1f0;

  /* Borders*/

  --color-border: rgba(95, 117, 118, 0.4);
  --color-border-light: #37b43d;

  /* buttons */
  --color-button-hover: #2D6D1F;
  /*Semantic*/

  --color-success: #37b43d;
  --color-warning: #ffd203;
  --color-info: #00939e;
  --color-link: #4b5b98;

  /*else colors*/

  --color-nhs-blue: #005eb8;


}


@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-light: var(--color-primary-light);
  --color-primary-soft: var(--color-primary-soft);

  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);
  --color-text-ph: var(--color-text-ph);

  --color-border: var(--color-border);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-surface-muted: var(--color-surface-muted);

  --color-button-primary: var(--color-primary);
  --color-button-hover: var(--color-button-hover);

  --color-border: var(--color-border);
  --color-border-light: var(--color-border-light);

  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-info: var(--color-info);
  --color-link: var(--color-link);

  --color-nhs-blue: var(--color-nhs-blue);

  --font-quicksand: var(--font-quicksand);
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

body {
  font-family: var(--font-proxima-nova), sans-serif;
  display: flex;
  flex-direction: column;
}

.paydens-shadow {
  box-shadow: 0px 65px 250px rgba(0, 0, 0, 0.03), 0px 15px 67px rgba(0, 0, 0, 0.03), 0px 5px 20px rgba(0, 0, 0, 0.03);
}

em {
  font-style: normal;
}