.HeroCont {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.cardCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
    gap: 16px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 16px;
    gap: 8px;
    height: 250px;
    overflow: hidden;
    border: 1px solid white;
}


.card h1 {
    font-size: 20px;
    font-weight: 600;
}



.card p {
    font-weight: 300;
    font-size: 13px;
}


.card svg {
    width: 90px;
    height: 90px;
}

@media (min-width: 1440px) {
    .card p {
        font-size: 16px;
    }

    .card svg {
        width: 143px;
        height: 141px;
    }

    .card h1 {
        font-size: 28px;
    }

    .card {
        padding: 32px;
        gap: 10px;
        height: 350px;
    }

    .cardCont {
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }
}