.sectionCont {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardCont {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    flex: 0 0 325px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    flex: 0 0 325px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px;
    gap: 20px;
    flex: 0 0 670px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.boxes {
    border-radius: 16px;
    padding: 24px 32px;
    flex: none;
    gap: 120px;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* max-width: 350px; */
    height: 300px;
    position: relative;
    overflow: hidden;
}

.docService {
    background: radial-gradient(177.33% 256.3% at 100% 100%, #FFFFFF 0%, #00939E 100%);
}

.fluJab {
    border-radius: 16px;
    padding: 24px 32px;
    flex: none;
    gap: 120px;
    order: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 325px;
    height: 325px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: radial-gradient(177.33% 256.3% at 100% 100%, #FFFFFF 0%, #E44747 100%)
}

.NHSpres {
    border-radius: 16px;
    padding: 24px 32px;
    flex: none;
    gap: 20px;
    order: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 325px;
    height: 325px;
    position: relative;
    overflow: hidden;
    background: radial-gradient(177.33% 256.3% at 100% 100%, #FFFFFF 0%, #37B43D 100%)
}

.NHSservices {
    border-radius: 16px;
    padding: 24px 32px;
    flex: none;
    gap: 20px;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 325px; */
    height: 450px;
    position: relative;
    overflow: hidden;
    background: radial-gradient(177.33% 256.3% at 100% 100%, #FFFFFF 0%, #56C6EA 100%)
}

.weightLoss {
    border-radius: 16px;
    padding: 24px 32px;
    flex: none;
    justify-content: space-between;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 720px; */
    height: auto;
    position: relative;
    overflow: hidden;
    background: radial-gradient(177.33% 256.3% at 100% 100%, #FFFFFF 0%, #ADA3FA 100%)
}

.shopHealth {
    border-radius: 16px;
    padding: 24px 32px;
    flex: none;
    gap: 20px;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 350px; */
    height: 150px;
    position: relative;
    overflow: hidden;
    background: radial-gradient(177.33% 256.3% at 100% 100%, #FFFFFF 0%, #F9B0E9 100%)
}

.instantHelp {
    background: radial-gradient(177.33% 256.3% at 100% 100%, #FFFFFF 0%, #92FFAD 100%);
}

.cardCont h1 {
    font-weight: 500;
    font-size: x-large;
}

.cardCont em {
    font-weight: 700;
    font-size: xx-large;
}

.twinRow {
    display: flex;
    gap: 20px;
    max-width: 720px;
    align-items: center;
    justify-items: center;

}

@media (max-width: 1440px) {
    .cardCont {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        justify-content: center;
    }

    .container {
        flex: 0 1 auto;
        flex-direction: row;
        width: 100%;
        max-width: 790px;
        justify-content: center;
        gap: 40px;
        align-self: center;
    }

    .container3 {
        flex: 0 1 auto;
        flex-direction: row;
        width: 100%;
        max-width: 790px;
        justify-content: center;
        gap: 40px;
        align-self: center;
    }

    .container2 {
        flex: 0 1 auto;
        width: 100%;
        max-width: 670px;
        align-items: center;
        gap: 40px;
        align-self: center;
    }

    .twinRow {
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    .boxes,
    .fluJab,
    .NHSpres,
    .NHSservices,
    .shopHealth,
    .weightLoss {
        flex: 1 1 auto;
    }
}



@media (max-width: 767px) {
    .cardCont {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 0 20px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container2 {
        align-self: center;
        max-width: none;
    }

    .twinRow {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .weightLoss {
        max-width: 375px;
    }

    .cardCont h1 {
        font-size: large;
    }

    .cardCont em {
        font-size: x-large;
    }
}