.treatmentSection {
    max-height: screen;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 50px;
}

.cardsContainer {
    display: flex;
    gap: 24px;
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px 44px;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(55, 180, 61, 0.5) 2%, rgb(255, 255, 255) 90%);
    flex: 1;
    position: relative;
}

.card h1 {
    font-size: xx-large;
    font-weight: 600;
}

.card a {
    text-decoration: underline;
    text-underline-offset: 8px;
    font-weight: 500;
    margin-left: 30px;
    position: absolute;
    bottom: 30px;
}

.card a:hover {
    color: var(--color-primary);
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
}


.cardItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    width: 100%;
    max-height: 40px;
    background: #ffffffe1;
    padding: 32px 32px;
    font-size: large;
    font-weight: 300;
}

@media (max-width: 767px) {
    .cardsContainer {
        flex-direction: column;
    }
}

@media (max-width: 1440px) {
    .card {
        padding: 16px 16px;

    }

    .card svg {
        scale: 0.5;
    }

    .treatmentSection {
        gap: 24px;
    }

    .cardsContainer {
        gap: 25px;
    }

    .card h1 {
        font-size: large;
        font-weight: 600;
    }

    .card a {
        text-decoration: underline;
        text-underline-offset: 8px;
        font-weight: 500;
        bottom: 0px;

    }

    .cardItem {
        padding: 8px 16px;
        font-size: small;
        font-weight: 300;
    }
}